.projects {
    background-color: black;
    color: #f48fb1;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 감싸기 */
    justify-content: center; /* 가운데 정렬 */
    align-items: flex-start; /* 세로 정렬 */
    gap: 20px; /* 박스 간의 간격 */
}

.project-box {
    background-color: #444;
    color: #f48fb1;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: calc(33.33% - 20px); /* 한 줄에 3개씩 배치하고, 여백을 고려하여 너비 계산 */
    height: 55vh; /* 높이 조정 */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.project-box:hover {
    background-color: #555; /* 호버 효과 */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 모달이 다른 요소들 위에 있도록 설정 */
}

.modal-content {
    background-color: #222;
    color: #f48fb1;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* 모달 너비를 조정합니다. */
    text-align: center;
}

.close-button {
    background-color: #f48fb1;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #e91e63; /* 클로즈 버튼 호버 효과 */
}
