.about {
    background-color: black;
    color: #f48fb1;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

.container {
    border-radius: 15px;
    height: 500px;
    width: 80vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease-in-out; /* fadeIn 애니메이션 추가 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container > div {
    /*background-color: #f5f5f5;*/
    background-color: #444;
    border-radius: 10px;
    padding: 15px;
    transform: translateY(10px);
    opacity: 0;
    animation: slideIn 0.5s forwards; /* slideIn 애니메이션 추가 */
}

@keyframes slideIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container > h2 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 2px;
}

.icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    transition: transform 0.3s; /* 부드러운 전환 효과 */
}

.icon {
    font-size: 36px;
    margin-right: 8px;
    color: white;
}

.icon-title > h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

/* Hover 효과 추가 */
.icon-title:hover {
    transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
    color: white; /* 텍스트 색상 변경 */
}
