header {
    position: fixed;
    left: 20px;
    top: 60px;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    transition: all 0.85s;
}

header.on {
    top: 0;
    opacity: 1;
}

ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    position: relative;
    margin-bottom: 10px;
}

li.active a {
    background-color: white;
}


li a {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    background: linear-gradient(1240deg, rgba(0, 0, 100, 300), rgba(0, 0, 0, 20));
    transition: all 0.2s;
    color: #ffffff;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

li:hover a {
    padding: 8px 15px;
    background-color: #9c27b0;
    transform: scale(1.1);
    width: 100px;
    height: 30px;
}

a i {
    color: white;
    margin-right: 5px;
    font-size: 28px;
    text-align: center;
}

a span {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: opacity 0.3s ease, padding 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

li:hover a span {
    opacity: 1;
    visibility: visible;
}
